<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Частные грузоперевозки | Ростов-на-Дону</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon"  href="favicon.ico">
</head>
<body>
    <div class="loaderArea">
        <div class="load">
          <hr/><hr/><hr/><hr/>
        </div>
    </div>
    <header>
        <div class="container-fluid">

                <div class="flex header-flex">
                    <div class="logo flex">
                        <a href="/"><img src="img/logo.svg" alt=""></a>
                        <div class="slogan">
                            <p>Веб-дизайнер</p>
                            <p>Верстальщик</p>
                        </div>
                    </div>
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="active"><a href="">Главная</a></li>
                                <li><a href="">Обо мне</a></li>
                                <li><a href="">Портфолио</a></li>
                                <li><a href="">Блог</a></li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

        </div>
    </header>














  
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
	<script src="js/custom.js"></script>
    <script>
        $(window).on("load", function() {
          $('.loaderArea').delay(400).fadeOut('slow');
        });
    </script>
</body>
</html>