<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Частные грузоперевозки | Ростов-на-Дону</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon"  href="favicon.ico">
</head>
<body>
    <div class="loaderArea">
        <div class="load">
          <hr/><hr/><hr/><hr/>
        </div>
    </div>
    <header>
        <div class="container-fluid">
            <div class="flex header-flex">
                <div class="logo flex">
                    <a href="/"><img src="img/logo.svg" alt=""></a>
                    <div class="slogan">
                        <p>Веб-дизайнер</p>
                        <p>Верстальщик</p>
                    </div>
                </div>
                <div class="main-menu">
                    <nav>
                        <ul>
                            <li class="active"><a href="">Главная</a></li>
                            <li><a href="">Обо мне</a></li>
                            <li><a href="">Портфолио</a></li>
                            <li><a href="">Блог</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <section class="banner">
        <div id="my_photo"><img src="img/ewal.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="utp">
                    <div class="ttl-h1">
                        <h1><span>В голове дизайнера рождается идея — </span><span>В руках разработчика творится модель</span></h1>
                    </div>
                    <div class="desc">
                        <p>Уже десять лет я занимаюсь веб-дизайном,
                        версткой и разработкой сайтов под ключ.
                        Если вам нравится мой стиль, буду рад
                        <a href="">отзывам</a> и <a href="">благодарностям</a>!</p>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href=""><img src="img/instagram.svg" alt=""></a></li>
                            <li><a href=""><img src="img/behance.svg" alt=""></a></li>
                            <li><a href=""><img src="img/vk.svg" alt=""></a></li>
                            <li><a href=""><img src="img/facebook.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-index mt-ttl">
        <div class="container">
            <div class="row">
                <div class="ttl">
                    <h2>Что новенького в моем блоге</h2>
                </div>
                <div class="blog-index-oplet mt-block clearfix">
                    <div class="col-md-4 col-sm-6 blog-catalog">
                        <div class="row">
                            <div class="oplet">
                                <div class="img"><img src="img/dira.png" alt=""></div>
                                <div class="date"><span>12</span>.04.2019</div>
                                <div class="header ttl">
                                    <h3>Что новенького в моем блоге</h3>
                                </div>
                                <div class="anons">
                                    <p>
                                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов...
                                    </p>
                                </div>
                                <div class="btn btn-blog"><a href=""><button>Подробнее</button></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 blog-catalog">
                        <div class="row">
                            <div class="oplet">
                                <div class="img"><img src="img/dira.png" alt=""></div>
                                <div class="date"><span>12</span>.04.2019</div>
                                <div class="header ttl">
                                    <h3>Что новенького в моем блоге</h3>
                                </div>
                                <div class="anons">
                                    <p>
                                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное 
                                    </p>
                                </div>
                                <div class="btn btn-blog"><a href=""><button>Подробнее</button></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 blog-catalog">
                        <div class="row">
                            <div class="oplet">
                                <div class="img"><img src="img/dira.png" alt=""></div>
                                <div class="date"><span>12</span>.04.2019</div>
                                <div class="header ttl">
                                    <h3>Что новенького в моем блоге</h3>
                                </div>
                                <div class="anons">
                                    <p>
                                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов...
                                    </p>
                                </div>
                                <div class="btn btn-blog"><a href=""><button>Подробнее</button></a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-index mt-ttl">
        <div class="container">
            <div class="row">
                <div class="ttl">
                    <h2>Последние работы из портфолио</h2>
                </div>
                <div class="portfolio-index-oplet mt-block clearfix">
                    <div class="col-md-6 work">
                        <div class="row">
                            <div class="oplet">
                                <div class="img"><img src="img/work.png" alt=""></div>
                                <div class="link"><a href="">proshka-seregka.com</a></div>
                                <div class="ttl header">
                                    <h3>Что новенького в моем портфолио блоге, после трех минут</h3>
                                </div>
                                <div class="desc">
                                    <p>
                                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов...
                                    </p>
                                </div>
                                <div class="btn btn-portfolio"><a href="">
                                    <button>Посмотреть</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 work">
                        <div class="row">
                            <div class="oplet">
                                <div class="img"><img src="img/work.png" alt=""></div>
                                <div class="link"><a href="">proshka-seregka.com</a></div>
                                <div class="ttl header">
                                    <h3>Что новенького в моем портфолио блоге, после трех минут</h3>
                                </div>
                                <div class="desc">
                                    <p>
                                        Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum в...
                                    </p>
                                </div>
                                <div class="btn btn-portfolio"><a href="">
                                    <button>Посмотреть</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="seo-text mt-ttl">
        <div class="container">
            <div class="row">
                <div class="ttl">
                    <h2>Последние работы из портфолио</h2>
                </div>
                <div class="seo-text-oplet mt-block">
                    <p>На вопрос новых знакомых о том, чем я зарабатываю на хлеб, мне приходится отвечать дважды. Сначала из моих уст гордо звучит: «Веб-дизайнер», на что с другой стороны прилетает: «Эм, веб-дизайн — это что такое?»</p>
                    <p>На вопрос новых знакомых о том, чем я зарабатываю на хлеб, мне приходится отвечать дважды. Сначала из моих уст гордо звучит: «Веб-дизайнер», на что с другой стороны прилетает: «Эм, веб-дизайн — это что такое?»</p>
                    <p>На вопрос новых знакомых о том, чем я зарабатываю на хлеб, мне приходится отвечать дважды. Сначала из моих уст гордо звучит: «Веб-дизайнер», на что с другой стороны прилетает: «Эм, веб-дизайн — это что такое?»</p>
                    <p>Затем приходится объяснять, что входит в мои обязанности, но в конечном итоге все сводится к упрощенному варианту, мол, сайты создаю, господа. После очередного подобного ответа мне захотелось глубже погрузиться в эту тему и подробно объяснить людям, что к чему.</p>
                    <p>Предлагаю сегодня вместе разобраться, что такое web-дизайн, понять его ключевые этапы и базовые принципы. В качестве бонуса новичкам я добавлю информацию о том, как начать карьеру веб-дизайнера, а также, сколько понадобится времени на обучение, чтобы уже заработать первые деньги.</p>
                    <p>Что ты за существо такое, веб-дизайнище?
                    Чтобы сформировать однозначный ответ касательно того, что называется web-дизайном, я учел мнения авторов многих учебных пособий, моих авторитетных коллег и личного опыта в этой сфере. Вы хотите услышать версию без цензуры (с техническими матюками) или на простом русском языке? Думаю, второй вариант подойдет больше.</p>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="flex footer-flex">
                    <div class="logo flex">
                        <a href="/"><img src="img/logo.svg" alt=""></a>
                        <div class="slogan">
                            <p>Веб-дизайнер</p>
                            <p>Верстальщик</p>
                        </div>
                    </div>
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="active"><a href="">Главная</a></li>
                                <li><a href="">Обо мне</a></li>
                                <li><a href="">Портфолио</a></li>
                                <li><a href="">Блог</a></li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="social">
                        <ul>
                            <li><a href=""><img src="img/instagram.svg" alt=""></a></li>
                            <li><a href=""><img src="img/behance.svg" alt=""></a></li>
                            <li><a href=""><img src="img/vk.svg" alt=""></a></li>
                            <li><a href=""><img src="img/facebook.svg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>













  
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
	<script src="js/custom.js"></script>
    <script>
        $(window).on("load", function() {
          $('.loaderArea').delay(400).fadeOut('slow');
        });
    </script>
</body>
</html>